/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color:cornsilk;
    margin: 0% 5%;
  }
  
  article {
    text-align: justify;
    font-size: 1.2rem;
  }
  
  h1 {
    font-size: 1.8rem;
  }
  
  h2 {
    
  }
  
  img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  main {
  
  }
  
  section {
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  figure {
    margin-bottom: 7%;
    margin-right: 0%;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
  }
  
  figcaption {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }

  @media screen and (min-width: 768px) {
    body {
        background-color: ghostwhite;
        margin: 5% 10%;
    }
    article {
        font-size: 1.8rem;
    }
    h1 {
        font-size: 3rem;
      }
      
    h2 {
        font-size: 2.5rem;
    }
    img {
        max-width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    section {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    figure {
        width: 48%;
    }
    figcaption {
        width: 100%;
    }
  }

  @media screen and (min-width: 1200px) {
    body {
        background-color:lightsteelblue;
        margin: 5% 10%;
        max-width: 90%;
    }
    figcaption {
        font-size: 2rem;
    }
    article {
        font-size: 2rem;
    }
    h1 {
        font-size: 4rem;
      }
      
    h2 {
        font-size: 3rem;
    }
  }